@model ApplicationViewModel

<div class="container">
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application Details

                </div>
                <div class="panel-content-padding">
                    <h6>Applicant:</h6>
                    <h4>@Model.application.FirstName @Model.application.LastName</h4>
                    <h6>Programme: </h6>
                    <h4>@Model.application.Programme.ProgrammeName</h4>
                    <h6>Supervisor: </h6>
                    <h4>@Model.application.Supervisor.FirstName @Model.application.Supervisor.LastName </h4>
                    <h6>Supervisor Decision: </h6>
                    <input type="text" disabled asp-for=@Model.application.SupervisorApproval readonly />
                    @if(Model.application.SupervisorApproval == "Reject")
                    {
                        <h4>Rejection Reason</h4>
                        <textarea rows="10" readonly>
                           @Model.application.SupervisorRejectReason
                        </textarea>
                    }
                    <h6>PGC Decision: </h6>
                    <input type="text" disabled asp-for=@Model.application.PGCApproval readonly/>
                    @if(Model.application.PGCApproval == "Reject")
                    {
                        <h4>Rejection Reason</h4>
                        <textarea rows="10" readonly>
                           @Model.application.PGCRejectReason
                        </textarea>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-6 embed-responsive-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application Files
                </div>
                <div class="panel-content-padding">
                    <div class="row" style="margin: 10px">
                        <label>Select File: </label>
                        <select asp-items="Model.Files" onchange="changeDoc(this.value)"></select>
                    </div>

                    <!-- Do not load iframe if no files exist for an application, will cause application to crash-->
                    @if (Model.Files.Count !=0)
                    {
                         <iframe id="frame" height="500" src="https://docs.google.com/viewer?url=@Model.Files[0].Value&embedded=true">Your browser does not support iframes</iframe>
                    }



                </div>
            </div>

        </div>
        <div class="col-md-3">

                @if (User.IsInRole("Supervisor"))
    {
         <div class="panel panel-default">
            <div class="panel-heading">
                Supervisor Decision
            </div>
            <div>
                <form   asp-controller="Application" asp-action="SupervisorApproval"
                      method="post"
                      onsubmit="return disableScreen();">
                    <div class="panel-content-padding">
                        <div class="form-group">
                            <input asp-for="application.Id" hidden value="@Model.application.Id" />
                            <label asp-for="application.SupervisorApproval">Decision: </label>
                            <select asp-for="application.SupervisorApproval" onchange="displayRejectReason()" id="decisionDropdown">
                                <option>Accept</option>
                                <option>Reject</option>
                            </select>
                            <label asp-for="application.SupervisorRejectReason" hidden id="rejectReasonLabel">Reject Reason:</label>
                            <textarea asp-for="application.SupervisorRejectReason" id="rejectReasonText" hidden rows="15"></textarea>
                        </div>
                        <div class="form-group submit">
                            <button type="submit" id="btn-upload" class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i> Submit
                            </button>

                        </div>
                    </div>
                </form>
            </div>
             </div>
}
else if (User.IsInRole("PGC"))
{
         <div class="panel panel-default">
             <div class="panel-heading">
                 PGC Approval
             </div>
             <div>
                 <form asp-controller="Application" asp-action="PGCApproval"
                       method="post"
                       onsubmit="return disableScreen();">
                     <div class="panel-content-padding">
                         <div class="form-group">
                             <input asp-for="application.Id" hidden value="@Model.application.Id" />
                             <label asp-for="application.PGCApproval">Decision: </label>
                             <select asp-for="application.PGCApproval" onchange="displayRejectReason()" id="decisionDropdown">
                                 <option>Accept</option>
                                 <option>Reject</option>
                             </select>
                             <label asp-for="application.PGCRejectReason" hidden id="rejectReasonLabel">Reject Reason:</label>
                             <textarea asp-for="application.PGCRejectReason" id="rejectReasonText" hidden rows="15"></textarea>
                         </div>
                         <div align="right">
                             <div class="form-group submit">
                             <button type="submit" id="btn-upload" class="btn btn-success">
                                 <i class="glyphicon glyphicon-plus"></i> Submit
                             </button>
                            </div>
                         </div>

                     </div>
                 </form>
             </div>
             </div>
             }
         </div>
        </div>
    </div>
    

<script type="text/javascript">
    function changeDoc(url)
        {




            var theFrame = document.getElementById("frame");
            var str1 = "https://docs.google.com/viewer?url=";
            var str2 = url;
            var str3 = "&embedded=true";
            var res = (str1.concat(str2)).concat(str3);
            theFrame.setAttribute("src", res);
            theFrame.contentWindow.location.reload();
    }

    function displayRejectReason()
    {


        var decisionDropdown = document.getElementById("decisionDropdown");
        var decisionText = decisionDropdown.options[decisionDropdown.selectedIndex].text;
        var rejectReasonText = document.getElementById("rejectReasonText");
         var rejectReasonLabel = document.getElementById("rejectReasonLabel");

        if(decisionText == "Reject")
        {
            rejectReasonLabel.removeAttribute("hidden");
             rejectReasonText.removeAttribute("hidden");


        }
        else
        {

                rejectReasonLabel.setAttributeNode(document.createAttribute("hidden"));
                rejectReasonText.setAttributeNode(document.createAttribute("hidden"));

        }


    }
</script>


<script>
function disableScreen() {




    if(confirm('Do you want to submit the form?'))

    {
     // creates <div class="overlay"></div> and
    // adds it to the DOM
    var div= document.createElement("div");
    div.className += "overlay";
    document.body.appendChild(div);

     var div2= document.createElement("div");
    div2.className += "load-4";
    document.body.appendChild(div2);

      var div3= document.createElement("div");
    div3.className += "ring-1";
    div2.appendChild(div3);

    return true;



    } else{
    return false;

    }


}</script>