@model ApplicationViewModel

<div class="container">
    <div class="row-fluid">
        <div class="col-md-6 embed-responsive-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application Files
                </div>
                <div class="panel-content-padding">
                    <div class="row" style="margin: 10px">
                        <label>Select File: </label>
                        <select asp-items="Model.Files" onchange="changeDoc(this.value)"></select>
                    </div>

                        <iframe id="frame" height="500" src="https://docs.google.com/viewer?url=@Model.Files[0].Value&embedded=true">Your browser does not support iframes</iframe>
                    

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Application Details

                </div>
                <div class="panel-content-padding">

                    <h6>Applicant: @Model.application.FirstName @Model.application.LastName</h6>
                    <h6>Programme: @Model.application.Programme.ProgrammeName</h6>
                    <h6>Supervisor: @Model.application.Supervisor.FirstName @Model.application.Supervisor.LastName </h6>

                </div>
            </div>
         </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Supervisor Approval
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    function changeDoc(url)
        {
    
            var theFrame = document.getElementById("frame");

            var str1 = "https://docs.google.com/viewer?url=";
            var str2 = url;
            var str3 = "&embedded=true";
            var res = (str1.concat(str2)).concat(str3);
            theFrame.setAttribute("src", res);
            theFrame.contentWindow.location.reload();
    }
 </script>