<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>



    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <!-- regular expression validation works because of above-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <link rel="stylesheet" href="~/css/site.css" />



</head>


<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <span class="logo">Post Graduate Application</span>
                <div class="mdl-layout-spacer"></div>
            @if (User.Identity.IsAuthenticated)//User.Identity.IsAuthenticated)
            {
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" asp-controller="Home" asp-action="Index"> Home</a>
                    @if (User.IsInRole("PGO"))
                    {
                        <a class="mdl-navigation__link" asp-controller="Application" asp-action="Create">Applications</a>

                    }
                    else if (User.IsInRole("Supervisor"))
                    {
                         <a class="mdl-navigation__link" asp-controller="Application" asp-action="SupervisorViewApplications">Applications</a>
                    }
                    else if (User.IsInRole("PGC"))
                    {
                        <a class="mdl-navigation__link" asp-controller="Application" asp-action="PGCViewApplications">Applications</a>
                    }



                    <p class="username mdl-navigation__link"><i class="glyphicon glyphicon-user"></i>  <b>@User.Identity.Name</b></p>
                    <style>
                        .username {
                            display: block;
                            margin-right: auto;
                        }
                    </style>
                    <form asp-controller="Auth" asp-action="Logout">
                        <style>
                            .logoutBtn {
                                border: 1px solid white;
                                background-color: transparent;
                                border-radius: 10px;
                            }

                                .logoutBtn:hover {
                                    color: #92c0e8;
                                    border: 1px solid;
                                    border-color: #92c0e8;
                                }
                        </style>
                        <button type="submit" class="btn btn-xs btn-outline btn-outline-light logoutBtn"><i class="glyphicon glyphicon-log-out"></i> Log out</button>

                    </form>
                </nav>

        }

            </div>
        </header>
       

        <div class="page-content">
            @RenderBody()
        </div>
    </div>


    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
